body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3, p {
    font-family: 'Roboto';
}

h2 {
    color: #3046C5;
}

header h2 {
    color: #C4C4C4;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    /* background-image: linear-gradient(to right, #012e67, #032e42, #0a1417); */
    background-image: linear-gradient(to right, #121212, #020a35, #3e455f);
    color: white;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

#mainContainer {
    height: 80vh;
    overflow: auto;
}

#sidebar {
    background-color: #121212;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 16px 16px;
    border-radius: 35px;
    font-size: 12px;
    text-align: center;
}

#icon-group {
    padding-top: 8vh;
}

.fa-bars {
    color: #a2adc3;
    font-size: 35px;
}

#homeInputModal {
    color: #a2adc3;
    font-size: 40px;
}

.fa-md {
    font-size: 70px;
    color: #a2adc3;
    padding-top: 1vh;
}

.fa:hover, #homeInputModal {
    color:#3046C5;
}

.nav-active, .nav-link {
    color:#4b83f5; 
}

.flex-column {
    align-items: center;
}

#rightSection {
    background-color: #1F1B24;
    height: 80vh; 
    overflow-y: scroll;
}

.active-item {
    background-color: #a2adc3;
}

.tv-show, .book {
    height: 250px;
    width: 185px;
    padding: 2.5%;
}

.nes {
    height: 200px;
    padding: 2%;
}

.snes {
    height: 200px;
    padding: 2%;
}

.games:hover, .tv-show:hover, .book:hover {
    /* background-color: rgba(251, 251, 251, 0.2) */
    opacity: 0.5;
}
.tab-pane {
    text-align: center;
}

.carousel-img {
    margin: auto;
    height: 300px;
}

.slide {
    margin: auto;
}


