body {
    font-family: "Open Sans", sans-serif;
    background-image: linear-gradient(to right, #121212, #020a35, #3e455f);
}

h1, h2, h3, p, a, i {
    font-family: 'Roboto';
}

header, h2 {
    color: #C4C4C4;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    /* background-image: linear-gradient(to right, #012e67, #032e42, #0a1417); */
    background-image: linear-gradient(to right, #121212, #020a35, #3e455f);
    color: white;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

/* Device size specific settings */

/* XS device settings */
#mainContainer {
    height: 70vh;
    overflow: auto;
}  

#rightSection {
    background-color: #1F1B24;
    height: 70vh; 
    overflow-y: scroll;
}

.carousel-img {
    margin: auto;
    height: 200px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    #mainContainer {
        height: 78vh;
        overflow: auto;
    }    

    #rightSection {
        height: 78vh; 
    }

    .carousel-img {
        height: 275px;
    }
}


#sidebar {
    background-color: #121212;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 16px 16px;
    border-radius: 35px;
    font-size: 12px;
    text-align: center;
}

#icon-group {
    padding-top: 5vh;
}

.fa-bars {
    color: #a2adc3;
    font-size: 35px;
}

#homeInputModal {
    color: #a2adc3;
    font-size: 40px;
}

.modal-header, .modal-footer {
    background-color: #121212;
    color: white;
}

.modal-body {
    background-color: #1d1b1bee;
    color: white;
}

.fa-md {
    font-size: 70px;
    color: #a2adc3;
    padding-top: 1vh;
}

.fa:hover, #homeInputModal:hover {
    color:#3046C5;
}

.nav-active, .nav-link {
    color:#4b83f5; 
}

.flex-column {
    align-items: center;
}

.active-item {
    background-color: #a2adc3;
}

.tv-show, .book {
    height: 250px;
    width: 185px;
    padding: 2.5%;
}

.nes {
    height: 200px;
    padding: 2%;
}

.snes {
    height: 200px;
    padding: 2%;
}

.games:hover, .tv-show:hover, .book:hover {
    /* background-color: rgba(251, 251, 251, 0.2) */
    opacity: 0.5;
}
.tab-pane {
    text-align: center;
}

.slide {
    margin: auto;
}


