body {
    font-family: "Open Sans", sans-serif;
    background-image: linear-gradient(to right, #121212, #020a35, #3e455f);
}

h1, h2, h3, p, a, i {
    font-family: 'Roboto';
}

header, h2 {
    color: #C4C4C4;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    /* background-image: linear-gradient(to right, #012e67, #032e42, #0a1417); */
    background-image: linear-gradient(to right, #121212, #020a35, #3e455f);
    color: white;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

/* Device size specific settings */

/* XS device settings */
#mainHomepage {
    background-color: #1F1B24;
}
#mainContainer {
    height: 70vh;
    overflow: auto;
    background-color: #1F1B24;
}  

#rightSection {
    background-color: #1F1B24;
    height: 70vh; 
    overflow-y: scroll;
}

.carousel-img {
    height: 200px;
    margin-top: 4vh;
    margin-left: 1vw;
    /* margin-right: auto; */

}

/* Fixed font-sizes */
h1 {
    font-size: 24px;
}

h2 {
    display: none;
}

h4 {
    font-size: 14px;
}

#homeInputModal {
    font-size: 16px;
    color: #a2adc3;
}

/* Custom size: X-small - Small devices (landscape phones, 416px and up) */
@media (min-width: 416px) { 
    .carousel-img {
        margin-top: 5vw;
        margin-left: 1.5vw;
        height: 225px;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 18px;
        display: block;
    }
    h4 {
        font-size: 12px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    #mainContainer {
        height: 78vh;
        overflow: auto;
    }    

    #rightSection {
        height: 78vh; 
    }

    .carousel-img {
        margin-top: 2vh;
        margin-left: 10px;
        height: 200px;
    }

    /* Fixed font-sizes */
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 20px;
    }

    h4 {
        font-size: 12px;
    }
}

/* Medium devices (landscape phones, 768px and up) */
@media (min-width: 768px) { 
}

/* Large devices (landscape phones, 1200px and up) */
@media (min-width: 992px) { 
    .carousel-img {
        margin-top: 2vh;
        margin-left: 30px;
        height: 275px;
    }

    /* Fixed font-sizes */
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 30px;
    }

    h4 {
        font-size: 24px;
    }

    #homeInputModal{
        font-size: 20px;
    }
}

/* X-Large devices (landscape phones, 1200px and up) */
@media (min-width: 1200px) { 
    .carousel-img {
        margin-top: 4vh;
        margin-left: 50px;
    }
    /* Fixed font-sizes */
    h1 {
        font-size: 64px;
    }

    h2 {
        font-size: 40px;
    }

    h4 {
        font-size: 20px;
    }

}


.carousel {
    position: fixed;
}
.carousel-inner > .item > img {
    margin: 0 auto;
}


#sidebar {
    background-color: #121212;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 16px 16px;
    border-radius: 35px;
    font-size: 12px;
    text-align: center;
}

#icon-group {
    padding-top: 5vh;
}

.fa-bars {
    color: #a2adc3;
    font-size: 35px;
}

.modal-header, .modal-footer {
    background-color: #121212;
    color: white;
}

.modal-body {
    background-color: #1d1b1bee;
    color: white;
}

.fa-md {
    font-size: 70px;
    color: #a2adc3;
    padding-top: 1vh;
}

.fa:hover, #homeInputModal:hover {
    color:#3046C5;
}

.nav-active, .nav-link {
    color:#4b83f5; 
}

.flex-column {
    align-items: center;
}

.active-item {
    background-color: #a2adc3;
}

.tv-show, .book {
    height: 250px;
    width: 185px;
    padding: 2.5%;
}

.nes {
    height: 200px;
    padding: 2%;
}

.snes {
    height: 200px;
    padding: 2%;
}

.games:hover, .tv-show:hover, .book:hover {
    /* background-color: rgba(251, 251, 251, 0.2) */
    opacity: 0.5;
}
.tab-pane {
    text-align: center;
}

.slide {
    margin: auto;
}


